* {
    /* border: 0.1em dotted brown; */
}
body {
    color: brown;
    background-color:lightgrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.15em;
    /* font-style:italic; */
margin-right:15%; 
margin-left:15%;

}

li {
    margin-bottom: 6px;
}

h3 {
    background-color:lightsalmon;
    width: fit-content;
    font-weight: 600;

}

em {
   background-color:sienna; 
   width: fit-content;
   color:ghostwhite
}

h4 {
    font-style: italic;
    background-color:aliceblue;
    width: fit-content;
}

a:link {
    color:brown
}

a:visited {
    color:blueviolet
}

a:hover {
    color:coral
}

a:active {
    color:darkmagenta
}
li ul li:hover {
    font-size:150%;
} /* unordered list inside of an ordered list will get 50% larger when hovered over*/

span.academics {
    font-weight:bolder;
    font-size: 90%;
    color: midnightblue;
}

 h2, h3 {/* group selectors */
color:black
}

 li em { /* descendant selectors */
    background-color: aliceblue;
    width: fit-content;
    color:darkcyan;
}

p.placementRobo, p.placementSci {
    font-style:italic
}

img#theMountains {
width:50%;
}

h3#freetime {
    font-size:150%;
    width: 360px;
    text-align: left;    
}

div.draelos {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
img#header {
    float: right;
    margin: 1em;
}

div.flexible {
    display:flex;
    flex-direction: row;
    text-align:center;
    border: 2px solid coral;
    /* justify-content: space-around; */
    justify-content: space-evenly
    
}
div#largeview {
    position: fixed;
    top: 100px;
    left: 200px;

}

div.dontshow {
    display:none;
}

/*media queries for responsive design */
/*ask the browser to identify the properties of the media that the
content is being displayed on and change the css rules accordingly */
/*As long as the width of the viewport is less than 750px, implement
whateve rules are present in this media query */ 
@media (max-width:750px) {
    body {
        margin-left: 10%;
        margin-right: 10%;    
 
    }
}

@media screen and (orientation: landscape) {
    body {
        font-size: .6em;
       /*While testing this on my phone in landscape mode I realized that the font is altogether too large to read coherently without excessive scrolling so I tried to make it more manageable*/     
    } 
    
}

@media screen and (orientation: portrait) {
 img#sky1 {
        width: 50%;
        /* In portrait mode for my phone the hobbies page, the image takes up too much space and everything else gets squished out*/
    }
    div.menu {
        font-size: .6em;
    }   
}

